* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    width: 100vw;
    height: min-content;
    display: flex;
    flex-direction: column;
    gap: 100px;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    transition: all .4s;
}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header p{
    position: relative;
    top: 30px;
}

.inputGroup {
  display: flex;
  gap: 15px;
}

#searchSection {
  height: 200px;
  width: 400px;
  background-color: transparent;
  border: 2px solid grey;
  border-radius: 30px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.fruitInfo {
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

#nutritionSection {
  width: 250px;
  height: 200px;
  border: 2px solid grey;
  border-radius: 20px;
  padding: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#addFruitButton {
  position: relative;
  left: 120px;
  top: 25px;
}

.fruitListContainer {
  display: flex;
  gap: 400px;
  justify-content: center;
}

#fruitListSection {
  width: 820px;
  height: 500px;
  overflow-y: scroll;
  border: 2px solid red;
  display: flex;
  flex-direction: row;
}

.fruitItems {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
}

.fruitItems div{
  background-color: #41403e;
  width: min-content;
  height: min-content;
  padding: 20px;
  text-align: center;
  border-radius: 30px;
}

.fruitItems div > img{
  width: 200px;
  height: 150px;
  margin-bottom: 10px;
}

#inputSectionPost {
  height: 700px;
  width: 500px;
  border: 2px solid grey;
  padding: 30px;
  text-align: center;
}

#inputSectionPost > form{
  margin-top: 100px;
}

#postFruitButton {
  margin-top: 100px;
}

/* button css */
.button-55 {
  align-self: center;
  background-color: #fff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: .75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-55:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.button-55:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}
